# Path Configuration
RAW_DATA_PATH=data/raw
INTERIM_DATA_PATH=data/interim
PROCESSED_DATA_PATH=data/processed
MODEL_DIR=outputs/models
MAPS_DIR=outputs/maps
REPORTS_DIR=outputs/reports

# App Configuration
STREAMLIT_PORT=8501
DEBUG_MODE=False
